<!doctype html>

<html lang="en">
    <head>
        <title>Pyke Interpreter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='static/content.css') }}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">	    
        <link rel="stylesheet" href="{{ url_for('static', filename='static/awesome-bootstrap-checkbox.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	{% include 'analytics.html' %}
    </head>
    <body>
	<div class="container">
            <div class="info">
                <h3><a href="https://github.com/muddyfish/PYKE">Pyke</a> Interpreter</h3>
                <h5>{{ last_updated }}</h5>
		<p>Length: <span id="length">0</span></p>
		<button id="button-run" class="btn btn-primary">Run Program.</button>
		<!-- 
		<button id="button-permalink" class="btn btn-primary">Permalink</button>
		<br/>
		-->
		<button id="button-copy" class="btn btn-primary">Copy Answer</button>
		<i class="fa fa-spinner fa-spin" id="loading"></i>
		<div class="checkbox">
		    <input type="checkbox" id="checkbox-warn"  checked={{ warnings }}>
		    <label for="checkbox-warn">Warnings?</label>
		</div>
		<textarea id="code" placeholder="Code" class="form-control pad-top pad-bottom" rows="7">{{ code }}</textarea>
		<textarea id="input" placeholder="Input" class="form-control pad-top pad-bottom" rows="3">{{ input }}</textarea>
		<pre class="scrollable" id="output"></pre>
            </div>
            <div class="docs">
                {{ docs|safe }}
            </div>
	    <div id="dialog-message" title="Copy Answer">
		<pre id="answer"></pre>
	    </div>
        </div>
        <script>
	    function submit_code() {
		$("#loading").show();
		ga('send', 'event', 'button', 'submit');
                $.post('/submit', {
                    code: $('#code').val(),
                    input: $('#input').val(),
                    warnings: document.getElementById("checkbox-warn").checked? 1 : 0,
                    },
                    function(data) {
			$("#loading").hide()
                        $('#output').text(data);
			if (data.includes("Never gonna let you down")) {
			    window.location = "http://youtube.com/watch?v=dQw4w9WgXcQ";
			}
                    }
                );
	    }
	    
            function create_permalink() {
                params={code: $('#code').val()};
		if ($('#input').val()) params.input=$('#input').val();
		if (!document.getElementById("checkbox-warn").checked) params.warnings=0;
                history.pushState(null, null, "?" + $.param(params).replace(/[!'()*]/g, function(c) {return '%' + c.charCodeAt(0).toString(16)}))
            }
	    
	    dialog = $( "#dialog-message" ).dialog({
		autoOpen: false,
		height: 360,
		width: 480,
		modal: true
	    });
	    
	    function copy_code() {
		var length = $('#code').val().length;
		var header = "##Pyke, "+(length.toString())+" bytes\n";
		var code = ("\n"+$('#code').val()).replace("\n", "\n    ")+"\n";
		create_permalink();
		var link = window.location.href;
		var try_it = "[Try it here!]("+link+")\n";
		$("#answer").text(header+code+try_it);
		dialog.dialog("open");
            }
	    
            $(function() {
		$("#loading").hide();
		$('#button-run').click(submit_code);
		$('#button-permalink').click(create_permalink);
		$('#button-copy').click(copy_code);
            });
	    
	    
	    function onresize() {
		//Centre on resize (64 padding on top)
		$('#table-container').css('height', window.innerHeight - 128);
	    }
	    window.addEventListener('resize', onresize);
	    onresize();
	    
	    $('#code').keyup(function(c) {
		$('#length').text(c.target.value.length);
	    }).keyup();
        </script>
    </body>
</html>
