* { 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
}
  
#code, #input, #output {
    font-family: monospace;
}

.scrollable {
    overflow-y: scroll;
}

.doc_pre {
    overflow-x:scroll;
    width:300px;
}

.container {
    padding-top: 32px;
    width:95%;
}

.pad-bottom {
    margin-bottom: 16px;
}

.pad-top {
    margin-top: 16px;
}

.docs {
    padding-top: 32px;
    display: inline;
    position: relative;
}

.info {
    display: inline;
    position: relative;
}

td, th {
    padding-right: 8px;
}

.ui-dialog {
    padding: .3em;
}

@media screen and (max-width: 1040px) {
    .docs {
        position-top: 32px;
        width: 95%;
        float: bottom;
    }

    .info {
        width: 95%;
        float: top;
    }
}

@media screen and (min-width: 1041px) {
    .docs {
        width: 65%;
        float: right;
    }

    .info {
        width: 30%;
        float: left;
    }
}